<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="static/prescribe.css">  <!--{{url_for('static',filename='mindstate.css')}}-->
    <title>Precribe Patients</title>
</head>
<body>
    <div id="head">
        <h3 id="htext">Prescribe Patients</h3>
    </div>
<button id="presbtn">Prescribe +</button>
<div id="section"></div>
<div id="pform">
    <form action="/prescribe" method="post">
    <table id="pformtable" border="1">
          <tr>
              <th>Patient Name</th>
              <td><input type="text" id="name" placeholder="Enter Patients Name" name="name" ></td>
          </tr>
          <tr>
            <th>Age</th>
            <td><input type="text" id="age"  name="age"></td>
        </tr>
        <tr>
            <th>Gender</th>
            <td><input type="radio" name="gen" value="Male">Male
                <input type="radio" name="gen" value="Female">Female
            </td>
        </tr>
        <tr>
            <th>Patient Phone No.</th>
            <td><input type="text" id="phone"  name="phone"></td>
        </tr>
        <tr>
            <th>Current Visit</th>
            <td><input type="text" id="cdate"  name="cdate"></td>
        </tr>
        <tr>
            <th>Next Visit</th>
            <td><input type="text" id="ndate"  name="ndate"></td>
        </tr>
        <tr>
            <th>State</th>
            <td>
                <input type="radio" name="state" value="Positive">Positive
                <input type="radio" name="state" value="Neutral">Neutral
                <input type="radio" name="state" value="Depressed">Depressed
                <input type="radio" name="state" value="Anxiety">Anxiety
            </td>
        </tr>
        <tr>
            <th>Tests</th>
            <td>
                <input type="checkbox" name="test" value="CT Scan">CT Scan
                <input type="checkbox" name="test" value="MRI">MRI
                <input type="checkbox" name="test" value="EMG">EMG<br>
                <input type="checkbox" name="test" value="EEG">EEG
                <input type="checkbox" name="test" value="PET">PET
            </td>
        </tr>
        <tr>
            <th>Medicines</th>
            <td> 
                <p>Pain Killer<p>
                    <input type="checkbox" name="med" value="Napa">Napa
                    <input type="checkbox" name="med" value="Renova">Renova
                    <input type="checkbox" name="med" value="Ace">Ace<br>
                <p>Gastric Medicines<p>
                    <input type="checkbox" name="med" value="Pantonix">Pantonix
                    <input type="checkbox" name="med" value="Seclo">Seclo
                    <input type="checkbox" name="med" value="Acifix">Acifix<br>
                <p>Mental Disorder Medicines</p>
                    <input type="checkbox" name="med" value="Isolon">Isolon
                    <input type="checkbox" name="med" value="Methipred">Methipred
                    <input type="checkbox" name="med" value="Prednicort">Prednicort<br>
                    <input type="checkbox" name="med" value="Edruson">Edruson
                    <input type="checkbox" name="med" value="Inflagic">Inflagic
                    <input type="checkbox" name="med" value="Deltapred">Deltapred
            </td>
        </tr>
        <tr>
            <th><button id="submit">Submit</button></th>
        </tr>
    </table>
    <form>
</div>
</body>
</html>